#instructions .directions {
  font-style:italic;
  font-size:0.8em;
}

#authentication {
  display:none;
}

.leaderboard {
  width:100%;
}
.leaderboard td {
  border-bottom:1px solid #ccc;
}

.start-buttons-container {
  position:absolute;
  top:50%;
  display:none;
  width: 100%;
  text-align: center;
}

.sound-buttons-container {
  position:absolute;
  bottom:3%;
  right:4%;
}

.sound-mute {
  display:none;
}

.sound-buttons-container:hover {
  cursor:pointer;
}

.btn-instructions {
  position:absolute;
  bottom:3%;
  right:2%;
  background-color:transparent;
  border:0px;
  border-radius:0;
  padding:0px;
}

.btn-pause {
  position:absolute;
  bottom:3%;
  right:7%;
  background-color:transparent;
  border:0px;
  border-radius:0;
  padding:0px;
}

.game-canvas {
  width:100% !important;
  height:100% !important;
  max-height:500px;
}

section#quiz {
	display:none;
	background-color:#25A8E0;
  padding:15px;
  color:#fbfbfb;
}

.questions .q1, .questions .q2 {
  display: none;
}
.questions .questions span {
  font-weight: bold;
}
.questions label {
  margin-left: 5px;
  font-weight: normal;
  display: inline;
}
#quiz .submit {
  margin-top: 10px;
}
#quiz .result {
  font-weight: bold;
}
.right {
  color: #085d09;
}
.wrong {
  color: #7d1717;
}
#quiz .result.congratulations {
  font-size: 1.5em;
}

#game-over-results {
  display:none;
  background-color:#25A8E0;
  text-align:center;
  padding:15px;
  font-size:1.3em;
  color:#fff;
}

#game-over-results span {
  font-weight:bold;
  font-size:1.5em;
}

#game-over-sharebuttons {
  display:none;
  background-color:#25A8E0;
  text-align:center;
  padding:15px;
  font-size:1.3em;
  color:#fff;
}

.btn-orange {
  color: #fff;
  background-color: #CC4627;
  border-color: #aa351a;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #AA351A;
  border-color: #072147;
}

#feedback {
  display:none;
  height:600px;
  right: 4rem;
  overflow-y: scroll;
  padding: 0px;
  position: fixed;
  z-index: 9000000;
  bottom:0px;
  border:1px solid #003768;
}
.btn-feedback {
  bottom: 0;
  border-radius: 2px 2px 0 0;
  position: fixed;
  right: 4rem;
  z-index: 9000000;
}